[Unit]
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%h
StartLimitIntervalSec=0

[Service]
Environment=
Restart=always
RestartSec=60
TimeoutStopSec=10
WorkingDirectory=%h/devel/web/telegram-bot-cxx
ExecStart=%h/devel/web/telegram-bot-cxx/build/telegram-bot
Type=simple

[Install]
WantedBy=multi-user.target default.target
